// Fredoka font
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

// Work sans
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$header-font: "Fredoka", sans-serif;
$body-text-font: "Work Sans", sans-serif;
$font-stack-three: "Roboto", sans-serif;

html {
  scroll-behavior: smooth;
}

*,
html,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

@media screen and (min-width: 1440px) {
  .custom-container {
    width: 1046px;
    margin: auto;
  }
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2em 0 1em;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: fill;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.navbar {
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
}

.navbar-nav {
  li a,
  p {
    font-family: $body-text-font;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
  }
}

.btn-download-purple {
  font-family: $body-text-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  color: #ffffff;
  height: 56px;
  width: 254px;
  border-radius: 28px;
  background: #310e3a;
}

.main {
  padding-top: 10em;
  padding-bottom: 1em;
  color: #ffffff;

  .main-header {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    font-family: $header-font;
  }

  .main-text {
    margin: 40px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    font-family: $body-text-font;
  }
}

.condition {
  padding-bottom: 3em;
}

.header-bottom {
  // padding: 8em 1em 0em 10em ;
  padding-top: 8em;
}

.scroll-text {
  font-family: $font-stack-three;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  color: #ffffff;
}

//

.crypto-card {
  position: absolute;
  right: 1em;
}

.cryptobox {
  .box-purple {
    padding: 15px 2em;
    width: 234px;
    height: 141px;
    background: rgba(49, 14, 58, 0.8);
    border-radius: 18px 0px 0px 18px;
  }

  .box-grey {
    padding: 15px 2em;
    width: 234px;
    height: 141px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 18px 18px 0px;
  }

  .box-text {
    margin: 10px 0;
  }

  .head-text {
    font-family: $header-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
  }

  .body-text-purple {
    font-family: $body-text-font;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #ae91e0;
  }

  .body-text-grey {
    font-family: $body-text-font;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #9b9b9b;
  }
}

.cryptobox-mobile {
  .box-img-mobile {
    margin-bottom: 1em;
  }

  .box-purple-mobile {
    padding: 15px 1em;
    width: 173px;
    height: 141px;
    background: rgba(49, 14, 58, 0.8);
    border-radius: 18px 0px 0px 18px;
  }

  .box-grey-mobile {
    padding: 15px 1em;
    width: 173px;
    height: 141px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 18px 18px 0px;
  }

  .box-text {
    margin: 10px 0;
  }

  .head-text-mobile {
    color: #ffffff;
    font-family: $header-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
  }

  .head-text-mobile-right {
    color: #ffffff;
    font-family: $header-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
  }
}

.download {
  background: #e9edff;
  // padding: 10em 15em 0em;
  padding: 10em 0 0em;

  .download-header {
    font-family: $header-font;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #52345a;
    margin: 0.5em 0;
  }

  .download-text {
    font-family: $body-text-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #bb9cc3;
  }

  .welcome-header {
    font-family: $header-font;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #4b2a85;
  }

  .line {
    padding: 2em 0;
  }

  .web-box {
    padding: 0 6em 0 2em;
  }

  .mobile-box {
    padding: 0 6em 0 2em;
  }

  .line {
    width: 100%;
  }

  .btn-download-black {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    color: #ffffff;
    height: 56px;
    width: 254px;
    border-radius: 28px;
    background: #000000;
    margin: 2em 0;
  }
}

.footer {
  background: #e4ad52;
  padding: 10em 0em 5em;
  position: relative;
  z-index: 2;

  .countdown {
    z-index: 2;
    position: absolute;
    top: -4em;
    left: 50%;
    transform: translate(-50%);
    border-radius: 40px;
    background: #f3f5ff;
    padding: 5em;
    width: 1106px;
  }

  .countdown-heading {
    font-family: $header-font;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #4b2a85;
  }

  .countdown-number {
    font-family: $header-font;
    font-size: 50px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #bb9cc3;
  }

  .countdown-text {
    font-family: $body-text-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #52345a;
    margin: 1em 0;
  }

  .community {
    padding: 5em 15em;

    .community-head {
      font-family: $header-font;
      font-size: 70px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: left;
      color: #310e3a;
    }

    .community-text {
      font-family: $body-text-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      margin: 4em 0 2em;
      color: #52345a;
    }
  }

  .email {
    font-family: $header-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    padding: 2em 0;
  }

  .email-text {
    font-family: $body-text-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
    color: #ffffff;
    padding: 2em 0;
  }

  .footer-border {
    border-bottom: 1px solid #f8bc5b;
  }

  .faq-border {
    border-top: 1px solid #f8bc5b;
  }

  .footer-logo {
    padding: 8em 0 1em;
  }

  .address {
    font-family: $body-text-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    margin: 1.5em 0;
    color: #000000;
  }

  .copyright,
  .signature {
    font-family: $body-text-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    margin: 1.5em 0;
    color: #000000;
  }
}

// coin section

.coins {
  background: #310e3a;
  padding: 10em 0;
  font-family: $header-font;
  color: #ffffff;
  overflow-x: hidden !important;

  .coin-header {
    max-width: 741px;
    font-family: $header-font;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
}

.gc-tab-menu {
  color: #52345a;
  font-family: $body-text-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  // margin: 0 1em;
  cursor: pointer;
  &:hover,
  &.active {
    color: #fff;
    border: 1px solid #52345a;
    padding: 0.5em 1em;
    border-radius: 19.5px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
}

.company {
  font-family: $body-text-font;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #bc9cc3;
  margin: 3em 0 3em;
  padding-left: 9em;
}

.coin-carousel {
  color: #ffffff;
  background: #310e3a;
  // padding: 2em 0 0;
  overflow-x: hidden !important;

  .img-small {
    width: 136px !important;
    height: 136 !important;
  }

  .img-big {
    width: 174px !important;
    height: 174 !important;
  }

  .img-small-mobile {
    width: 75px !important;
    height: 75px !important;
  }

  .img-big-mobile {
    width: 100px !important;
    height: 100px !important;
  }
}

//about modal
.about {
  position: absolute;
  z-index: 100 !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;

  img {
    cursor: pointer;
  }

  .overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .about-box {
    width: 304px;
    height: 486px;
    left: 36px;
    top: 165px;
    background: #ffffff;
    border-radius: 20px;
    color: #310e3a;
    padding: 1.5em;
  }

  .about-text {
    margin-top: 2em;
  }

  .about-head {
    font-family: $header-font;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #bc9cc3;
    margin: 1.5em 0 1em;
  }

  .about-body {
    font-family: $body-text-font !important;
    font-size: 16px !important;
    line-height: 18px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }

  .lead {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #52345a !important;
    margin: 1em 0;
  }
}

.swiper {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 343px !important;
  height: 343px !important;
  background: #3a1344;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 2em 1em 2em 0em;
  padding: 2em 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-scrollbar {
  background: #3a1344 !important;
}

.swiper-scrollbar-drag {
  background: #ffffff !important;
  width: 96px !important;
}

.swiper-content {
  padding: 2em 2em !important;
  color: #bc9cc3;

  .swiper-header {
    font-family: $header-font !important;
    font-size: 30px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    margin-bottom: 1em;
  }

  .swiper-text {
    font-family: $body-text-font !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}

.desktop-timeline {
  touch-action: pan-y;
  cursor: grab;
  user-select: none;
}

.timeline-wrapper {
  display: flex;
  gap: 0 90px;
  // height: 100vh;

  .timeline {
    width: 1px;
    height: 1100px;
    background-color: #472a4f;
    position: relative;
    transition: all ease 2s;

    .scroll-bar {
      position: absolute;
      // position: fixed;
      // top: 50%;
      width: 1px;
      height: 80px;
      background-color: #fff;
      top: 0;
      touch-action: pan-y;
      transform: translate(0, 0);
      transition: position ease-in-out 2s;
    }
  }
}

.scroll-active {
  // transition: all ease 5s;
  .scroll-header {
    color: #bc9cc3 !important;
    font-weight: 500;
  }
  .scroll-lead {
    color: #d0b3d8 !important;
    font-weight: 500;
  }
}

.scroll-box {
  margin-bottom: 114px;
  touch-action: pan-y;

  .scroll-header {
    font-family: $header-font;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    // color: #bc9cc3;
    color: #52345a;
    margin-bottom: 0.5em;
  }

  .scroll-lead {
    font-family: $body-text-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    // color: #d0b3d8;
    color: #52345a;
  }
}

@media only screen and (max-width: 1300) {
  .community {
    padding: 5em 15em !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1226px) {
  .download {
    padding: 4em 4em 0em !important;
  }

  .robot-img {
    height: 400px;
    width: 350px;
  }

  .countdown {
    width: 1000px !important;
    padding: 4em !important;
  }

  .community {
    padding: 18em 8em 5em !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1055px) {
  .countdown {
    width: 900px !important;
    padding: 4em !important;
  }

  .community {
    padding: 18em 8em 5em !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 995px) {
  .main {
    padding: 6em 0em 1em;
  }

  .main-header {
    // font-family: $header-font;
    font-size: 40px !important;
    // font-weight: 400!important;
    line-height: 40px !important;
    letter-spacing: 0em;
    text-align: left;
  }

  .main-text {
    font-family: $body-text-font;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    letter-spacing: 0em !important;
    text-align: left;
  }

  .header-bottom {
    padding: 1em 1em 0em 3em !important ;
  }

  .robot-img {
    width: 326px;
    height: 340px;
  }

  .download {
    padding: 5em 5em 0em !important;
  }

  .welcome-header {
    font-family: $header-font;
    font-size: 35px !important;
    font-weight: 400 !important;
    line-height: 35px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    padding: 2em 0 !important;
  }

  .download-header {
    font-family: $header-font;
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 40px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }

  .download-text {
    font-family: Work Sans;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }

  .web-box,
  .mobile-box {
    padding: 0 0 0 0 !important;
  }

  .download .btn-download-black {
    margin: 4em auto !important;
  }

  .countdown {
    width: 750px !important;
    padding: 4em !important;
  }

  .countdown-heading {
    margin: 1em 0 !important;
    font-family: $header-font;
    font-size: 25px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }

  .countdown-number {
    font-family: $header-font;
    font-size: 40px !important;
    font-weight: 400 !important;
    line-height: 35px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
  }

  .countdown-text {
    font-family: Work Sans !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    color: #52345a !important;
    margin: 1.5em 0 !important;
  }

  .count-box {
    margin: 1em 0 !important;
  }

  .community {
    padding: 15em 8em 5em !important;
  }

  .community-head {
    font-size: 35px !important;
    font-weight: 400 !important;
    line-height: 35px !important;
    letter-spacing: 0em !important;
    text-align: left;
  }

  .community-text {
    color: #000000 !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 776px) {
  .countdown {
    width: 350px !important;
    padding: 2em !important;
  }

  .community {
    margin-top: 15em !important;
    padding: 15em 2em 5em !important;
  }

  .download {
    padding: 5em 2em 2em !important;
  }

  .web-box,
  .mobile-box {
    padding: 0 1em 0 1em !important;
  }

  .welcome-header {
    padding: 0.5em 0 1em 0.5em !important ;
  }

  .coins {
    padding: 5em 0;
  }

  .coin-carousel {
    overflow-x: hidden !important;
  }

  .coin-header {
    font-family: $header-font;
    font-size: 35px !important;
    font-weight: 400 !important;
    line-height: 35px !important;
    letter-spacing: 0em !important;
  }

  .company {
    padding-left: 0;
  }
}
