.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url('../src/assets/bg3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // height: 100vh;
  padding: 2em 0 1em;
}

.navbar {
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }
}

.navbar-nav {
  li a, p {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
  }
}

.btn-download-purple {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  color: #ffffff;
  height: 56px;
  width: 254px;
  border-radius: 28px;
  background: #310E3A;
}

.main {
  padding-top: 12em;
  padding-bottom: 1em;
  font-family: Fredoka;
  color: #ffffff;

  .main-header {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
  }

  .main-text {
    margin: 40px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;      
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8em 1em 0em 10em ;
}

.scroll-text {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  color: #ffffff;   
}

.cryptobox {
  .box-purple {
    padding: 15px 2em;
    width: 234px;
    height: 141px;
    background: rgba(49, 14, 58, 0.8);
    border-radius: 18px 0px 0px 18px;
  }
  
  .box-grey {
    padding: 15px 2em;
    width: 234px;
    height: 141px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 18px 18px 0px;
  }

  .box-text {
    margin: 10px 0;
  }
  
  .head-text {
    font-family: Fredoka;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
  }

  .body-text-purple {
    font-family: Work Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #AE91E0;

  }

  .body-text-grey {
    font-family: Work Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #9B9B9B;
  }
}

.download {
  background: #E9EDFF;
  padding: 10em 15em 0em;

  .download-header {
    font-family: Fredoka;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left; 
    color: #52345A;   
    margin: .5em 0; 
  }

  .download-text {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #BB9CC3;
  }

  .welcome-header {
    font-family: Fredoka;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;   
    color: #4B2A85; 
  }

  .line {
    padding: 2em 0 ;
  }

  .web-box, .mobile-box {
    padding: 0 6em 0 3em;
  }

  .line {
    width: 100%;
  }

  .btn-download-black {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    color: #ffffff;
    height: 56px;
    width: 254px;
    border-radius: 28px;
    background: #000000;
    margin: 2em 0;
  }
}

.footer {
  background: #E4AD52;
  padding: 10em 15em 0em;

  .countdown {
    border-radius: 40px;  
    background: #F3F5FF;
    padding: 5em;  
  }

  .countdown-heading {
    font-family: Fredoka;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #4B2A85;
  }

  .countdown-number {
    font-family: Fredoka;
    font-size: 50px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #BB9CC3;    
  }
}


